<style>
    th, td, div {
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    tr > th {
        font-weight: bold;
    }

    .border {
        border: 1px solid #000000;
    }

    .page-tag {
        font-size: 1.15em;
    }

    .page-own {
        font-size: 1.15em;
    }

    .page-customer {
        font-size: 1.15em;;
    }

    .page-item {
        font-size: 1em;
    }

    .text-center {
        text-align: center;
    }

    .border-right {
        border-right: 1px solid #000000
    }

    .border-bottom {
        border-bottom: 1px solid #000000;
    }
</style>

<table border="1" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table border="1" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <td width="66%" rowspan="2">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="11%">หมายเหตุ :</th>
                                <td width="2.5%">1.</td>
                                <td width="86.5%">โปรดสั่งจ่ายเช็คขีดคร่อม หรือโอนเงินเข้าบัญชี<br>{{annotation_extra}}</td>
                            </tr>
                           
                        </table>
                    </td>
                    <td width="17%" height="12mm" align="center" style="line-height: 10mm">ยอดรวมก่อนภาษี</td>
                    <td width="17%" height="12mm" style="line-height: 10mm"></td>
                </tr>
                <tr>
                    <td align="center" height="12mm" style="line-height: 10mm">ภาษีมูลค่าเพิ่ม 7%</td>
                    <td align="right" height="12mm" style="line-height: 10mm"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="1" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <th width="66%" height="8mm" align="center"></th>
                    <td width="17%" height="8mm" align="center">ยอดรวมทั้งสิ้น</td>
                    <td width="17%" height="8mm" align="right"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="2" border="1">
                <tr>
                    <th align="center" width="22%" style="font-size: 80%">ผู้รับเอกสาร/Recipient of document</th>
                    <th align="center" width="22%">ผู้รับเงิน/Payee</th>
                    <th align="center" width="22%">ผู้ตรวจสอบ/Examiner</th>
                    <th align="center" width="34%">ผู้มีอำนาจลงนาม/Authorized signatory</th>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" style="line-height: 3mm"></td>
                            </tr>
                            <tr>
                                <th width="20%">ลงชื่อ</th>
                                <td width="80%" class="border-bottom"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 5mm"></td>
                            </tr>
                            <tr>
                                <th>ว/ด/ป</th>
                                <td class="border-bottom"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 1mm"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" style="line-height: 3mm"></td>
                            </tr>
                            <tr>
                                <th width="20%">ลงชื่อ</th>
                                <td width="80%" class="border-bottom"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 5mm"></td>
                            </tr>
                            <tr>
                                <th>ว/ด/ป</th>
                                <td class="border-bottom"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 1mm"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" style="line-height: 3mm"></td>
                            </tr>
                            <tr>
                                <th width="20%">ลงชื่อ</th>
                                <td width="80%" class="border-bottom"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 5mm"></td>
                            </tr>
                            <tr>
                                <th>ว/ด/ป</th>
                                <td class="border-bottom"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 1mm"></td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    {{rows_2}}
    <tr>
        <td>
            <table cellpadding="2">
                <tr>
                    <th align="center" style="line-height: 6mm;">** ใบเสร็จรับเงินจะสมบูรณ์ เมื่อได้รับเงินเข้าบัญชีบริษัทเรียบร้อยแล้ว **</th>
                </tr>
            </table>
        </td>
    </tr>
</table>