<table width="100%" border="0" cellpadding="3" cellspacing="0" style="line-height: 5mm;">
<tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_0}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_0}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_0}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_1}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_1}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_1}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_2}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_2}}</td>
                    <td width="17%">{{amount_2}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_3}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_3}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_3}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_4}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_4}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_4}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_5}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_5}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_5}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_6}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_6}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_6}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_7}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_7}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_7}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_8}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_8}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_8}}</td>
                </tr>
                <tr>
                    <td width="6%" height="8.8mm" class="border-right">{{no_9}}</td>
                    
                    <td width="15%" class="border-right"></td>
                    <td width="62%" class="border-right">{{inv_9}}</td>
                    <td style="text-align: right ;" width="17%">{{amount_9}}</td>
                </tr>
                </table>