html{
    background-color: #fff;
}
body {
    position: relative !important;
    top: 0 !important;
}

.form-control[readonly] {
    background: white;
}

.form-control {
    background: #feffc1;
}

label.required::before {
    content: ' * ';
    color: red;
    font-size: 1.2em;
}

span.validation {
    color: orangered;
}

.form-border-none {
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.primary, .info, .success {
    color: #fff;
}

.success {
    background-color: #5cb85c;
}

.info {
    background-color: #5bc0de;
}

.primary {
    background-color: #337ab7;
}

.left-radius {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;

    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}

.right-radius {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;

    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

tr.disabled {
    cursor: default;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.08);
}

tr.disabled * {
    text-decoration: line-through;

    /* IE */
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    /* Chrome, Safari */
    -webkit-filter: grayscale(1);
    /* Firefox */
    filter: grayscale(1);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

md-tooltip.reason-for-del .md-content {
    background-color: #fffdc3;
    border: 1px solid #f6f59f;
    font-size: 1.2em;
    color: red;
}

a.inactive {
    cursor: default;
}

.breadcrumb.operation-step * {
    cursor: default;
}

.breadcrumb.operation-step > li.active {
    font-weight: bold;
}

.breadcrumb.operation-step > li > a {
    cursor: default;
    color: #337ab7;
    text-decoration: none;
}