<div style="text-align: center" ng-hide="ready">
    <br><br><br>
    <p>Rendering...</p>
    <br><br><br>
</div>
<div class="container-fluid" ng-cloak="" ng-show="ready">
    <div class="row">
        <div class="col-xs-12">
            <form id="formAddCustomer" name="formAddCustomer" onsubmit="return false;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title" style="width: 50%; display: inline-block"><span class="glyphicon glyphicon-plus"></span>
                            Add Receipt
                        </p>
                        <div style="float: right; margin-top: -5px;">
                            <a class="btn btn-primary btn-sm" ng-href="{{'docs/'+masterReceipt.docurl+'/'+masterReceipt.id}}" target="_blank" rel="noopener" title="PDF Print"><span class="glyphicon glyphicon-file"></span></a>
                        </div>
                    </div>
                    <div class="panel-body form-horizontal">
                        <div>
                            <ol class="breadcrumb operation-step">
                                <li><a>Create ID</a></li>
                                <li><a>Customer</a></li>
                                <li class="active">Advance Detail</li>
                            </ol>
                            <br>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="company_sn">Company :</label>
                            <div class="col-sm-9">
                                <input class="form-control form-border-none" readonly id="company_sn" ng-value="masterReceipt.organizationName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="receipt_id">Receipt ID :</label>
                            <div class="col-sm-9">
                                <input class="form-control form-border-none" readonly id="receipt_id" ng-value="masterReceipt.receiptId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="customer">Customer :</label>
                            <div class="col-sm-9">
                                <input class="form-control form-border-none" name="customer" id="customer" readonly ng-value="'['+masterReceipt.customerId+'] '+masterReceipt.customerName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="receipt_date"><span class="validation">*</span> Receipt Date :</label>
                            <div class="col-sm-5">
                                <md-datepicker name="receipt_date" id="receipt_date" ng-model="masterReceipt.receiptDate" required md-min-date="minDate" md-max-date="maxDate" ng-mode="day" ></md-datepicker>
                                <div ng-messages="formAddCustomer.receipt_date.$error">
                                    <span class="validation" ng-message="valid">* วันที่ไม่ถูกต้อง</span>
                                    <span class="validation" ng-message="required">* กรุณาเลือกวันที่ใบเสร็จ</span>
                                </div>
                                
                            </div>
                            <div class="col-sm-3">
                                <md-checkbox 
                                ng-model="masterReceipt.showdate" 
                                aria-label="ซ่อนวันที่ในรายงาน"
                                ng-true-value="'1'"
                                ng-false-value="'0'"
                                >
                                  ซ่อนวันที่ในรายงาน
                                  </md-checkbox>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="receipt_date">Form type :</label>
                                <div class="col-sm-3">
                                    <!--<input type="date" class="form-control form-border-none" name="receipt_date" id="receipt_date" readonly ng-value="masterReceipt.receipt_date">-->
                                    <select class="form-control" ng-model="masterReceipt.formid">
                                        <option  ng-repeat="frm in formdata" value="{{frm.id}}">{{frm.name}}</option>
                                 </select>
                                    
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="customer_name"><span class="validation">*</span> Customer Name :</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="customer_name" id="customer_name" ng-model="masterReceipt.customerName" placeholder="[Required]" required ng-disabled="isWaiting">
                                <span class="validation" ng-show="formAddCustomer.customer_name.$touched && formAddCustomer.customer_name.$invalid">* กรุณากรอกชื่อลูกค้า</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="customer_address"><span class="validation">*</span> Customer Adress :</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="customer_address" name="customer_address" ng-model="masterReceipt.customerAddress" rows="3" style="resize: none" placeholder="[Required]" required ng-disabled="isWaiting"></textarea>
                                <span class="validation" ng-show="formAddCustomer.customer_address.$touched && formAddCustomer.customer_address.$invalid">* กรุณากรอกที่อยู่ลูกค้า</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tax_id">Tax ID :</label>
                            <div class="col-sm-3 col-md-2">
                                <input class="form-control form-border-none" name="tax_id" ng-model="masterReceipt.taxId" id="tax_id" placeholder="-" readonly required>
                                <span class="validation" ng-show="formAddCustomer.tax_id.$invalid">* ไม่พบเลขประตัวผู้เสียภาษี</span>
                            </div>
                            <div class="col-sm-3" ng-show="formAddCustomer.tax_id.$valid">
                                <input class="form-control" name="tax_extra" ng-model="masterReceipt.taxExtra" id="tax_extra" placeholder="Tax extra *optional">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="term">Term : </label>
                            <div class="col-sm-9">
                                <input class="form-control" id="term" placeholder="[Optional]" ng-model="masterReceipt.term">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="remark">Remark :</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="remark" placeholder="[Optional]" ng-model="masterReceipt.remark">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2"><span class="validation">*</span> Settle by :</label>
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="row" ng-repeat="settle in  masterReceipt.settles">
                                                <p class="label label-info">Settle {{$index+1}}</p>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2">Pay Type :</label>
                                                    <div class="col-sm-2">
                                                        <input class="radio radio-inline" id="settle_type_{{$index}}_0" type="radio" name="settle_type_{{$index}}" ng-model="settle.payType" value="">
                                                        <label class="label label-default" for="settle_type_{{$index}}_0">None</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input class="radio radio-inline" id="settle_type_{{$index}}_1" type="radio" name="settle_type_{{$index}}" ng-model="settle.payType" value="cash">
                                                        <label class="label label-default" ng-class="{'label-success':settle.payType=='cash'}" for="settle_type_{{$index}}_1">Cash</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input class="radio radio-inline" id="settle_type_{{$index}}_2" type="radio" name="settle_type_{{$index}}" ng-model="settle.payType" value="transfer">
                                                        <label class="label label-default" ng-class="{'label-warning':settle.payType=='transfer'}" for="settle_type_{{$index}}_2">Transfer</label>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input class="radio radio-inline" id="settle_type_{{$index}}_3" type="radio" name="settle_type_{{$index}}" ng-model="settle.payType" value="cheque">
                                                        <label class="label label-default" ng-class="{'label-danger':settle.payType=='cheque'}" for="settle_type_{{$index}}_3">Cheque</label>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-show="settle.payType == 'transfer'">
                                                    <label class="control-label col-sm-2" for="account_{{$index}}"><span class="validation">*</span> Account :</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="account_{{$index}}" ng-model="settle.accountId">
                                                            <option disabled selected value="">- - Selector - -</option>
                                                            <option ng-repeat="account in dropdownAccount" value="{{account.ID}}">{{account.NameT}} ({{account.AccountNo}})</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-show="settle.payType == 'cheque'">
                                                    <label class="control-label col-sm-2" for="bank_{{$index}}"><span class="validation">*</span> Bank :</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="bank_{{$index}}" ng-model="settle.bankId">
                                                            <option disabled selected value="">- - Selector - -</option>
                                                            <option ng-repeat="bank in dropdownBank" value="{{bank.ID}}">{{bank.NameT}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-show="settle.payType == 'cheque'">
                                                    <label class="control-label col-sm-2" for="cheque_no_{{$index}}"><span class="validation">*</span> Cheque NO. :</label>
                                                    <div class="col-sm-5">
                                                        <input class="form-control" id="cheque_no_{{$index}}" ng-model="settle.chequeNo" placeholder="[Required]">
                                                    </div>
                                                </div>

                                                <div class="form-group" ng-hide="!settle.payType">
                                                    <label class="control-label col-sm-2" for="pay_date_{{$index}}"><span class="validation" ng-hide="!settle.payType">*</span> Pay Date :</label>
                                                    <div class="col-sm-4">
                                                        <md-datepicker id="pay_date_{{$index}}" ng-model="settle.payDate" md-placeholder="Enter date" ng-init="settle.payDate = toJsDate(settle.payDate);"></md-datepicker>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-hide="!settle.payType">
                                                    <label class="control-label col-sm-2" for="pay_amount_{{$index}}"><span class="validation" ng-hide="!settle.payType">*</span> Amount :</label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control text-right" id="pay_amount_{{$index}}" placeholder="{{!settle.payType?null:'[Required]'}}" ng-model="settle.payAmount" ng-blur="settle.payAmount = addComma(settle.payAmount);" ng-keyup="settle.payAmount = removeText(settle.payAmount);" ng-init="settle.payAmount = addComma(settle.payAmount);">
                                                    </div>
                                                </div>

                                                <div class="col-xs-12" ng-hide="$last">
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h4><span class="label label-danger"># Invoice List</span></h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 50px;">#</th>
                                    <th>Invoice No.</th>
                                    <th>Contract ID.</th>
                                    <th>Invoice<br>Date</th>
                                    <th>Payment<br>Term</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">VAT</th>
                                    <th class="text-right">Price & VAT</th>
                                    <th class="text-right">Pay</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in invoiceCollect">
                                    <td>{{$index+1}}</td>
                                    <td>{{data.inv_id}}
                                        <button type="button" class="btn btn-link btn-xs" style="line-height: 1;" ng-click="removeInvoice($index,data);"><span class="glyphicon glyphicon-remove text-danger"></span></button>
                                    </td>
                                    <td>{{data.contract_id}}</td>
                                    <td>{{data.inv_date}}</td>
                                    <td>{{data.payment_term}}</td>
                                    <td class="text-right">{{data.amount | number : 2}}</td>
                                    <td class="text-right">{{data.vat | number : 2}}</td>
                                    <td class="text-right">{{data.total | number : 2}}</td>
                                    <td class="text-right" style="padding: 5px;max-width: 100px; overflow: hidden; position: relative;">
                                        <span style="position: absolute; left: 10px; top: 10px; color: orangered" class="glyphicon glyphicon-warning-sign" title="จำนวนที่จ่ายต้องไม่เกิน {{payBalance(data.total,data.paid)|number:2}} บาท" ng-if="checkOver(data.pay_amount, data.total, data.paid)"></span>
                                        <input id="input_pay_amount_{{$index}}" class="text-right" style="width: 100%;" ng-model="data.pay_amount" ng-init="data.pay_amount = addComma(data.pay_amount||'0')" ng-blur="data.pay_amount = addComma(data.pay_amount||'0')" ng-keyup="data.pay_amount = removeText(data.pay_amount||'0')" ng-change="summary()">
                                    </td>
                                </tr>
                                <tr ng-repeat="data in blankInv">
                                    <td colspan="999">&nbsp;</td>
                                </tr>
                                <tr ng-if="masterReceipt.receiptType == 'service'" ng-repeat="i in [1,2]">
                                    <td colspan="999">&nbsp;</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="5">Summary</th>
                                    <th class="text-right">{{sum.price|number:2}}</th>
                                    <th class="text-right">{{sum.vat|number:2}}</th>
                                    <th class="text-right">{{sum.price_vat|number:2}}</th>
                                    <th class="text-right">{{sum.pay|number:2}}</th>
                                </tr>
                                <tr>
                                    <td colspan="2" class="form-inline text-nowrap">
                                        <div class="input-group">
                                            <input class="form-control" ng-disabled="isWaiting || invoiceCollect.length>9" placeholder="Search..." id="inv_search" ng-model="inv_search" style="max-width:150px;">
                                            <span class="input-group-btn">
                                                    <button type="button" id="btn_add" class="btn btn-info" ng-disabled="isWaiting || !tempInv.id || invoiceCollect.length>=limitInv" ng-click="addInvoice()"><span class="glyphicon glyphicon-plus"></span></button>
                                                </span>
                                        </div>
                                    </td>
                                    <td>{{tempInv.contract_id}}</td>
                                    <td>{{tempInv.inv_date}}</td>
                                    <td>{{tempInv.payment_term}}</td>
                                    <td class="text-right">{{tempInv.amount | number : 2}}</td>
                                    <td class="text-right">{{tempInv.vat | number : 2}}</td>
                                    <td class="text-right">{{tempInv.total | number : 2}}</td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <hr ng-if="masterReceipt.receiptType == 'service'">
                        <div class="form-group"  ng-if="masterReceipt.receiptType == 'service'">
                            <label class="control-label col-sm-2" for="receipt_case">Receipt case :</label>
                            <div class="col-sm-4 col-md-3">
                                <select class="form-control" id="receipt_case" ng-model="masterReceipt.receiptCase" required>
                                    <option value="normal">Receipt 100%</option>
                                    <option value="advance">Receipt advance.</option>
                                    <option value="after">Receipt after</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-2">
                                <button class="btn btn-success btn-block" type="button" ng-disabled="isWaiting || isSaveDisabled" ng-click="onClickSave()" ng-bind-html="saveLabel"></button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"><br><br><br></div>
    </div>
    <div ng-show="isWaiting" style="cursor: wait; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999999999">
    </div>
</div>