<div class="container" ng-cloak="">
    <div class="row" ng-hide="ready">
        <div class="col-xs-12" style="text-align: center">
            <br><br><br>
            <p>Rendering...</p>
            <br><br><br>
        </div>
    </div>
    <div class="row" ng-show="ready">
        <div class="col-xs-12">
            <form name="formAddReceipt" onsubmit="return false;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <span class="glyphicon glyphicon-plus"></span>
                            &nbsp;Add Receipt&nbsp;
                        </p>
                    </div>
                    <div class="panel-body form-horizontal">
                        <div>
                            <ol class="breadcrumb operation-step">
                                <li class="active">Create ID</li>
                                <li><a>Customer</a></li>
                                <li><a>Advance Detail</a></li>
                            </ol>
                            <br>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="company_sn"><span class="validation">*</span> Company :</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="company_sn" name="company_sn" ng-model="company_sn" required ng-change="changedCompany()" autofocus>
                                    <option value="" disabled selected style="font-style: italic">- - Selector - -</option>
                                    <option ng-repeat="item in relatedCompany" ng-value="item.ShortName">{{item.ShortName}} - {{item.LongName}}</option>
                                </select>
                            </div>
                            <span class="col-sm-offset-2 col-sm-8 validation" ng-show="formAddReceipt.company_sn.$touched && formAddReceipt.company_sn.$invalid">* Company is required.</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="receipt_id">Receipt ID :</label>
                            <div class="col-sm-4 col-md-3">
                                <input class="form-control" id="receipt_id" ng-show="!alreadyExist" name="receipt_id" ng-model="receipt_id" placeholder="{{placeholder}}" readonly style="border:none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;" required>
                                <input class="form-control" ng-show="alreadyExist" readonly style="border:none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;color: red" value="ID was already exists." disabled>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <input class="form-control" id="custom_receipt_id" name="custom_receipt_id" ng-model="custom_receipt_id" ng-readonly="formAddReceipt.company_sn.$invalid" placeholder="Custom ID" ng-pattern="pattern" ng-change="onCustomID()" maxlength="{{maxlength}}">
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-show="!!problemMsg">
                        <div class="col-sm-10 col-sm-offset-1 alert alert-danger" role="alert">
                            <strong>Oops!...</strong>
                            <span ng-bind-html="problemMsg"></span>
                        </div>
                    </div>


                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-2">
                                <button class="btn btn-success btn-block" type="button" ng-disabled="formAddReceipt.company_sn.$invalid || isWaiting" ng-click="onClickNext()" ng-bind-html="nextLabel"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>