<div class="container">
    <div class="row" ng-hide="ready">
        <div class="col-xs-12" style="text-align: center">
            <br><br><br>
            <p>Rendering...</p>
            <br><br><br>
        </div>
    </div>
    <div class="row" ng-show="ready">
        <div class="col-xs-12">
            <form id="formAddCustomer" name="formAddCustomer" onsubmit="return false;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <span class="glyphicon glyphicon-plus"></span>
                            &nbsp;Add Receipt&nbsp;
                        </p>
                    </div>
                    <div class="panel-body form-horizontal">
                        <div>
                            <ol class="breadcrumb operation-step">
                                <li><a>Create ID</a></li>
                                <li class="active">Customer</li>
                                <li><a>Advance Detail</a></li>
                            </ol>
                            <br>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="company_sn">Company :</label>
                            <div class="col-sm-9">
                                <input class="form-control form-border-none" readonly id="company_sn" ng-model="masterReceipt.organizationName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="receipt_id">Receipt ID :</label>
                            <div class="col-sm-9">
                                <input class="form-control form-border-none" readonly id="receipt_id" ng-model="masterReceipt.receiptId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="customer_search"><span class="validation">*</span> Customer :</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="customer_search" id="customer_search" ng-model="customer_search" placeholder="[Search by customer ID or name]" required ng-disabled="isWaiting">
                                <span class="validation" ng-show="formAddCustomer.customer_search.$touched && !customer_id">* กรุณาเลือกลูกค้า</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="receipt_date"><span class="validation">*</span> Receipt Date :</label>
                            <div class="col-sm-5">
                                <md-datepicker md-placeholder="Enter date" name="receipt_date" id="receipt_date" required ng-model="receipt_date" ng-disabled="isWaiting"></md-datepicker>
                                <div ng-messages="formAddCustomer.receipt_date.$error">
                                    <span class="validation" ng-message="valid">* วันที่ไม่ถูกต้อง</span>
                                    <span class="validation" ng-message="required">* กรุณาเลือกวันที่ใบเสร็จ</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="customer_name"><span class="validation">*</span> Customer Name :</label>
                            <div class="col-sm-9">
                                <input class="form-control" name="customer_name" id="customer_name" ng-model="customer_name" placeholder="[Required]" required ng-disabled="isWaiting">
                                <span class="validation" ng-show="formAddCustomer.customer_name.$touched && formAddCustomer.customer_name.$invalid">* กรุณากรอกชื่อลูกค้า</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="customer_address"><span class="validation">*</span> Customer Adress :</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="customer_address" name="customer_address" ng-model="customer_address" rows="3" style="resize: none" placeholder="[Required]" required ng-disabled="isWaiting"></textarea>
                                <span class="validation" ng-show="formAddCustomer.customer_address.$touched && formAddCustomer.customer_address.$invalid">* กรุณากรอกที่อยู่ลูกค้า</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="tax_id">Tax ID :</label>
                            <div class="col-sm-3">
                                <input class="form-control form-border-none" name="tax_id" ng-model="tax_id" id="tax_id" placeholder="-" readonly required>
                                <span class="validation" ng-show="formAddCustomer.customer_search.$touched && formAddCustomer.tax_id.$invalid">* ไม่พบเลขประตัวผู้เสียภาษี</span>
                            </div>
                            <div class="col-sm-3" ng-show="formAddCustomer.tax_id.$valid">
                                <input class="form-control" name="tax_extra" ng-model="tax_extra" id="tax_extra" placeholder="Tax extra *optional" maxlength="100">
                            </div>
                        </div>
                    </div>


                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-2">
                                <button class="btn btn-success btn-block" type="button" ng-disabled="isWaiting" ng-click="onClickNext()" ng-bind-html="nextLabel"></button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"><br><br><br></div>
    </div>
    <div ng-show="isWaiting" style="cursor: wait; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999999999">
    </div>
</div>