<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p class="panel-title"><span class="glyphicon glyphicon-list"></span> Receipt List</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <form class="row" id="fFilter" onsubmit="return false;">
                               
                                    <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                        <label style="font-size:20px">Company</label>
                                        <md-select  id="companyId" name="companyId" ng-model="search.company">
                                            <md-option selected value="">Select All</md-option>
                                            <md-option  value="{{company.ShortName}}" ng-repeat="company in cmp">{{company.ShortName}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                  
                              
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="customer_search" style="font-size:20px">Customer</label>
                                        <input  ng-model="search.customer"  id="customer_search" name="customer_search" autocomplete="off" placeholder="Type a customer name or customer ID here...">
                                    </md-input-container>
                                    </div>
                                    <div layout-gt-sm="row">
                                            <md-input-container class="" flex-gt-sm>
                                        <label style="font-size:20px">Receipt ID</label>
                                        <input  id="billingId" name="billingId" ng-model="search.receiptid" autocomplete="off" placeholder="Type a Receipt ID here...">
                                    </md-input-container>
                               
                               
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="invoiceNo" style="font-size:20px">Invoice</label>
                                        <input  ng-model="search.invoice" data-provide="typeahead" id="invoiceNo" name="invoiceNo" autocomplete="off" placeholder="Type an invoice No.">
                                    </md-input-container>
                                                              
                                    
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label for="startdate">Date</label>
                                        <md-datepicker name="startdate" id="receipt_date" ng-model="search.startDate"   ng-mode="day" ></md-datepicker>
                                    </md-input-container>   
                                    <md-input-container class="md-block" flex-gt-sm> 
                                        <label for="enddate">To</label>
                                        <md-datepicker name="enddate" id="receipt_date" ng-model="search.endDate"  ng-mode="day" ></md-datepicker>
                                    </md-input-container>
                                </div>
                                
                                <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-4 form-group">
                                    <button class="btn btn-default btn-block" ng-click="onClickReset()">
                                        <i class="glyphicon glyphicon-repeat"></i>
                                        RESET
                                    </button>
                                </div>
                                <div class="col-xs-6 col-sm-2 form-group">
                                    <button class="btn btn-primary btn-block" ng-click="onClicksearch()" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                        SEARCH
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: receipt_type == 'product'}">
                                    <a ng-href="{{'dist/receipt_list/product?&q='+textSearch}}">Product</a>
                                </li>
                                <li role="presentation" ng-class="{active: receipt_type == 'service'}">
                                    <a ng-href="{{'dist/receipt_list/service?&q='+textSearch}}">Service</a>
                                </li>
                                <li role="presentation" ng-class="{active: receipt_type == 'service_novat'}">
                                    <a ng-href="{{'dist/receipt_list/service_novat?&q='+textSearch}}">Service No Vat</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table" ng-if="!!receiptCollect" datatable="ng" dt-options="table.options">
                                <thead>
                                <tr>
                                    <th style="width: 40px;">#</th>
                                    <th class="col-sm-2">เลขที่ใบเสร็จ</th>
                                    <th class="col-sm-1">วันที่ใบเสร็จ</th>
                                    <th class="col-sm-4 col-md-3">ชื่อลูกค้า</th>
                                    <th>
                                        <div class="row">
                                            <div class="col-xs-4">Invoice No.</div>
                                            <div class="col-xs-4">Contract No.</div>
                                            <div class="col-xs-4 text-right">จำนวนเงิน</div>
                                        </div>
                                    </th>
                                    <th class="text-right" style="width: 120px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-class="{disabled:receipt.cancel == 1}" ng-repeat="receipt in receiptCollect ">
                                    <td style="font-weight: bold;">{{$index + 1}}</td>
                                    <td>{{receipt.receiptID}}</td>
                                    <td>{{receipt.receiptDate || '-'}}</td>
                                    <td>{{receipt.customerName || '-'}}</td>
                                    <td>
                                        <div class="row" ng-repeat="inv in receipt.inv_collect" style="margin-top: 1px; margin-bottom: 1px;">
                                            <div class="col-xs-4 info left-radius">{{inv.inv_id}}</div>
                                            <div class="col-xs-4 info">{{inv.contract_id}}</div>
                                            <div class="col-xs-4 text-right success right-radius">{{inv.paid | number:2}}</div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group btn-group-justified" role="group">
                                            
                                            <a title="Document" class="btn btn-info btn-xs" ng-class="{disabled:receipt.revision<1 || receipt.cancel!=0}" ng-href="{{receipt.revision>0 && receipt.cancel==0?'docs/'+receipt.docurl+'/'+receipt.id:''}}" target="_blank" rel="noopener">
                                                <span class="glyphicon glyphicon-file"></span>
                                            </a>
                                           
                                            <a title="Edit" class="btn btn-primary btn-xs" ng-class="{disabled:receipt.cancel==1}" ng-href="{{receipt.cancel!=1?((receipt.revision!=0?'dist/edit_receipt':'dist/set_customer')+'/'+receipt.id):''}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a title="{{!!receipt.reason?'':'Delete'}}" class="btn btn-danger btn-xs" ng-class="{inactive:receipt.cancel==1}" ng-click="receipt.cancel==0?del(receipt):'';">
                                                <span class="glyphicon glyphicon-trash"></span>
                                                <md-tooltip class="reason-for-del" md-direction="left" ng-if="!!receipt.reason">
                                                    {{!!receipt.reason ? ('เหตุผลที่ลบ: '+receipt.reason) : ''}}
                                                </md-tooltip>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="!receiptCollect">
                                <br><br><br><br><br>
                                <p style="display: block;width:100%;text-align: center">Fetching...</p>
                                <br><br><br><br><br>
                            </div>
                            <div ng-if="receiptCollect.length < 10">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>