<style>
    th, td, div {
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    tr > th {
        font-weight: bold;
    }

    .border {
        border: 0px solid #000000;
    }

    .page-tag {
        font-size: 1.15em;
    }

    .page-own {
        font-size: 1.15em;
    }

    .page-customer {
        font-size: 1.15em;;
    }

    .page-item {
        font-size: 1em;
    }

    .text-center {
        text-align: center;
    }

    .border-right {
        border-right: 0px solid #000000
    }

    .border-bottom {
        border-bottom: 0px solid #000000;
    }
</style>

<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <td width="66%" rowspan="2">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="11%"></th>
                                <td width="2.5%"></td>
                                <td width="86.5%"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                    <td width="17%" height="12mm" align="center" style="line-height: 10mm"></td>
                    <td width="17%" height="12mm" style="line-height: 10mm"></td>
                </tr>
                <tr>
                    <td align="center" height="12mm" style="line-height: 10mm"></td>
                    <td align="right" height="12mm" style="line-height: 10mm"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <th width="66%" height="8mm" align="center"></th>
                    <td width="17%" height="8mm" align="center"></td>
                    <td width="17%" height="8mm" align="right"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tr>
                    <th align="center" width="22%" style="font-size: 80%"></th>
                    <th align="center" width="22%"></th>
                    <th align="center" width="22%"></th>
                    <th align="center" width="34%"></th>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" style="line-height: 3mm"></td>
                            </tr>
                            <tr>
                                <th width="20%"></th>
                                <td width="80%"  ></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 5mm"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td  ></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 1mm"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" style="line-height: 3mm"></td>
                            </tr>
                            <tr>
                                <th width="20%"></th>
                                <td width="80%"  ></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 5mm"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td  ></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 1mm"></td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" style="line-height: 3mm"></td>
                            </tr>
                            <tr>
                                <th width="20%"></th>
                                <td width="80%"  ></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 5mm"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td  ></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 1mm"></td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    {{rows_2}}
    <tr>
        <td>
            <table cellpadding="2">
                <tr>
                    <th align="center"></th>
                </tr>
            </table>
        </td>
    </tr>
</table>