<style>
    th, td, div {
        line-height: 110%;
    }

    th, td, div {
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    tr > th {
        font-weight: bold;
    }

    .border {
        border: 0px solid #000000;
    }

    .page-tag {
        font-size: 1.15em;
    }

    .page-own, .page-customer {
        line-height: 110%;
        font-size: 1.15em;;
    }

    .page-item {
        font-size: 1em;
    }

    .text-center {
        text-align: center;
    }

    .border-right {
        border-right: 1px solid #000000
    }

    .border-bottom {
        border-bottom: 1px solid #000000;
    }
</style>
<table border="1" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td height="48mm">
            <table width="100%" cellpadding="2" cellspacing="0">
                <tr>
                    <td colspan="2" height="8mm">
                        <img src="public/img/logo.jpg" height="8mm">
                    </td>
                </tr>
                <tr>
                    <td width="130mm"  style="vertical-align: top;">
                        <table class="page-own" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th>{{cmp_name_th}}</th>
                            </tr>
                            <tr>
                                <td>{{cmp_addr_th}}</td>
                            </tr>
                            <tr>
                                <th>{{cmp_name_en}}</th>
                            </tr>
                            <tr>
                                <td>{{cmp_addr_en}}</td>
                            </tr>
                            <tr>
                                <td>{{cmp_contract}}</td>
                            </tr>
                            <tr>
                                <td style="line-height: 1mm;"></td>
                            </tr>
                            <tr>
                                <th>เลขประจำตัวผู้เสียภาษีอากร / Tax ID No. : {{cmp_tax_id}}</th>
                            </tr>
                        </table>
                    </td>
                    <td width="70mm">
                        <table class="page-tag" style="line-height: 6mm;" width="100%" border="0">
                            <tr>
                                <th colspan="2" width="100%">ใบกำกับภาษี / ใบเสร็จรับเงิน</th>
                            </tr>
                            <tr>
                                <th colspan="2">TAX INVOICE / RECEIPT</th>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height: 3mm;"></td>
                            </tr>
                            <tr>
                                <th width="28%">เลขที่/No</th>
                                <td width="72%">: {{receipt_id}}</td>
                            </tr>
                            <tr>
                                <th>วันที่/Date</th>
                                <td>: {{receipt_date}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30mm">
            <table border="0" cellspacing="2" cellpadding="0" width="100%">
                <tr>
                    <td width="100%">
                        <table class="page-customer" cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <th width="6%">ชื่อผู้ซื้อ</th>
                                <th width="3%">:</th>
                                <td width="91%">{{customer_name}}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <td>เลขประจำตัวผู้เสียอากร {{customer_tax_id}}{{customer_tax_extra}}</td>
                            </tr>
                            <tr>
                                <th>ที่อยู่</th>
                                <th>:</th>
                                <td height="11mm">{{customer_addr}}</td>
                            </tr>
                            <tr>
                                <th>เงื่อนไข</th>
                                <th>:</th>
                                <td>{{term}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="6mm">
            <table border="1" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <td width="51%">
                        <table width="100%">
                            <tr>
                                <th width="20%">ใบสั่งซื้อเลขที่:</th>
                                <td width="80%">{{po_no}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="15%" align="center">{{ctr_id}}</td>
                    <td width="34%">
                        <table width="100%">
                            <tr>
                                <th width="23%">งานเลขที่:</th>
                                <td width="77%">{{job_no}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="8mm">
            <table border="1" cellspacing="0" cellpadding="4" width="100%" style="line-height: 3mm">
                <tr>
                    <th align="center" width="6%">เลขที่<br>Item</th>
                    <th align="center" width="45%">รายการ<br>Description</th>
                    <th align="center" width="15%">จำนวน<br>Quantity</th>
                    <th align="center" width="17%">ราคา/หน่วย<br>Unit Price</th>
                    <th align="center" width="17%">จำนวนเงิน<br>Amounts</th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="page-item" border="0" cellspacing="0" cellpadding="2" width="100%">
                <tr>
                    <td width="6%" height="88mm" class="border-right"></td>
                    <td width="45%" class="border-right"></td>
                    <td width="15%" class="border-right"></td>
                    <td width="17%" class="border-right"></td>
                    <td width="17%"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>