<style>
    th, td, div {
        line-height: 110%;
    }

    th, td, div {
        text-align: left;
    }

    table {
        border-collapse: collapse;
       border: 1px white;
        
    }

    tr > th {
        font-weight: bold;
    }

    .border {
        border: 1px solid #000000;
    }

    .page-tag {
        font-size: 1.15em;
    }

    .page-own, .page-customer {
        line-height: 110%;
        font-size: 1.15em;;
    }

    .page-item {
        font-size: 1em;
    }

    .text-center {
        text-align: center;
    }

    .border-right {
        border-right: solid #FFFFFF;
    }

    .border-bottom {
        border-bottom: 0px solid #000000;
    }
</style>
<table border="0" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td height="25mm">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="2" height="8mm">
                       
                    </td>
                </tr>
                <tr>
                    <td width="130mm"  style="vertical-align: top;">
                        
                    </td>
                    <td width="70mm">
                        <table  class="page-tag" style="line-height: 6mm;" width="100%" border="0">
                            <tr>
                                <th colspan="2" width="100%"></th>
                            </tr>
                           
                            <tr>
                                <td colspan="2" style="line-height: 4mm;"></td>
                            </tr>
                            <tr>
                                <th width="28%" ></th>
                                <td width="72%" style="line-height: 7mm;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{receipt_id}}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td height="10mm" style="line-height: 9mm;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{receipt_date}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr tyle="line-height: 4mm;">
        <td height="31.2mm">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="100%">
                        <table class="page-customer" cellpadding="0" cellspacing="0" border="0" width="100%">
                           
                            <tr>
                                <th width="6%"></th>
                                <th width="7%"></th>
                                <td width="91%" style="line-height: 2;">{{customer_name}}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <td height="6mm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{customer_tax_id}}{{customer_tax_extra}}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <td height="13.6mm">{{customer_addr}}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <td height="9.4mm">{{term}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="6mm">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="51%">
                        <table width="100%">
                            <tr>
                                <th width="20%"></th>
                                <td width="80%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{po_no}}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="15%" align="center">{{ctr_id}}</td>
                    <td width="34%">
                        <table width="100%">
                            <tr>
                                <th width="23%"></th>
                                <td width="77%">&nbsp;&nbsp;&nbsp;{{job_no}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="8mm">
            <table border="0" cellspacing="0" cellpadding="4" width="100%" style="line-height: 3mm">
                <tr>
                    <th align="center" width="6%"><br></th>
                    <th align="center" width="15%"><br></th>
                    <th align="center" width="45%"><br></th>
                    <th align="center" width="17%"><br></th>
                    <th align="center" width="17%"><br></th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="page-item" border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td width="6%" height="88mm" class="border-right"></td>
                    <td width="15%" class="border-right"></td>
                    <td width="45%" class="border-right"></td>
                    <td width="17%" class="border-right"></td>
                    <td width="17%"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>