<table border="0" cellpadding="1" cellspacing="1" style="line-height: 4mm;">
    <tr>
        <td width="10mm"></td>
        <td width="180mm" colspan="2">  รับชำระหนี้ตามใบกำกับภาษี/ใบส่งของ/ใบแจ้งหนี้</td>
    </tr>

    <tr>
        <td width="10mm" align="center">{{no_0}}</td>
        <td width="60mm">  {{inv_0}}</td>
        <td width="33mm">{{date_0}}</td>
        <td width="60mm">{{ctr_0}}</td>
        <td width="27mm" align="right">{{amount_0}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_1}}</td>
        <td width="60mm">  {{inv_1}}</td>
        <td width="33mm">{{date_1}}</td>
        <td width="60mm">{{ctr_1}}</td>
        <td width="27mm" align="right">{{amount_1}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_2}}</td>
        <td width="60mm">  {{inv_2}}</td>
        <td width="33mm">{{date_2}}</td>
        <td width="60mm">{{ctr_2}}</td>
        <td width="27mm" align="right">{{amount_2}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_3}}</td>
        <td width="60mm">  {{inv_3}}</td>
        <td width="33mm">{{date_3}}</td>
        <td width="60mm">{{ctr_3}}</td>
        <td width="27mm" align="right">{{amount_3}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_4}}</td>
        <td width="60mm">  {{inv_4}}</td>
        <td width="33mm">{{date_4}}</td>
        <td width="60mm">{{ctr_4}}</td>
        <td width="27mm" align="right">{{amount_4}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_5}}</td>
        <td width="60mm">  {{inv_5}}</td>
        <td width="33mm">{{date_5}}</td>
        <td width="60mm">{{ctr_5}}</td>
        <td width="27mm" align="right">{{amount_5}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_6}}</td>
        <td width="60mm">  {{inv_6}}</td>
        <td width="33mm">{{date_6}}</td>
        <td width="60mm">{{ctr_6}}</td>
        <td width="27mm" align="right">{{amount_6}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_7}}</td>
        <td width="60mm">  {{inv_7}}</td>
        <td width="33mm">{{date_7}}</td>
        <td width="60mm">{{ctr_7}}</td>
        <td width="27mm" align="right">{{amount_7}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_8}}</td>
        <td width="60mm">  {{inv_8}}</td>
        <td width="33mm">{{date_8}}</td>
        <td width="60mm">{{ctr_8}}</td>
        <td width="27mm" align="right">{{amount_8}}</td>
    </tr>
    <tr>
        <td width="10mm" align="center">{{no_9}}</td>
        <td width="60mm">  {{inv_9}}</td>
        <td width="33mm">{{date_9}}</td>
        <td width="60mm">{{ctr_9}}</td>
        <td width="27mm" align="right">{{amount_9}}</td>
    </tr>
   
</table>